/bin
/target
.classpath
.DS_Store
.project
.settings
/nb-configuration.xml
/src/test/java/com/github/braully/boleto/TestRetornoExemplos.java
/src/test/java/com/github/braully/boleto/TestRemessaExemplos.java
/src/test/java/com/github/braully/boleto/TestBoletoFacadeExemplos.java